<div class="game-stats-card is-hidden">
  <div class="in-game-stats">
    {% for row in [0, 1, 2, 3, 4, 5] %}
      <div class="players-row row-{{ row }} is-hidden">
        {% for team in ["order", "chaos"] %}
          <div class="player {{ team }}">
            <div class="champion-name"></div>
            <div class="player-body">
              <div class="avatar">
                <div class="champion-avatar"></div>
                <div class="respawn-timer">
                  <i class="fa-solid fa-skull"></i>
                </div>
              </div>
              <div class="items">
                {% for i in [0, 1, 2, 3, 4, 5] %}
                  <div class="slot item-{{ i }}"></div>
                {% endfor %}
              </div>
              <div class="kda">
                <div class="stat kills"><span class="lbl">K</span><span class="v"></span></div>
                <div class="stat deaths"><span class="lbl">D</span><span class="v"></span></div>
                <div class="stat assists"><span class="lbl">A</span><span class="v"></span></div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
